doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/OpenLayerv3.20.0/ol.css')
    link(rel='stylesheet', href='/Leaflet-1.0.3/leaflet.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')    
    script(src='/OpenLayerv3.20.0/ol.js')   
    script(src='/Leaflet-1.0.3/leaflet.js')
    body
  block content
